{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
{% endblock %}

{% block title %} UniFood {% endblock %}
{% block content %}
<div class="p-sm-0 p-md-3 p-lg-5">
<div class="site-box">
    
    <h1>UniFood</h1>
    <p class="under-logo-slogan">Az éhező egyetemisták legjobb barátja!</p>

    {% for i in restaurants %}
    <div class="etterem-item btn btn-outline-success" onclick='location.href="/{{i["name"]}}"'>
        <span class="etterem-name">{{i["name"]}}</span>
        <span>Specialitás:{{i["type"]}}</span>
        <span class="etterem-ertekeles">Értékelés:{{i["score"]}}★</span>
    </div>
    {% endfor %}
    {% if rank > -1 %}
    <br>
    <button id="add-restaurant-button" class="btn btn-outline-success" onclick='location.href="/addRestaurant"'>Hozzáadás</button>
    {% endif %}



</div>
</div>


{% endblock %}